.cart-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #903749;
  width: 13rem;
  height: 3rem;
  border-radius: 20px;
  justify-content: center;
  flex-flow: wrap;
  transition: all 0.2s ease-out;
}
.cart-icon {
  display: flex;
  justify-content: center;
  padding-right: 10px;
}
.cart-text {
  display: flex;
  padding-right: 10px;
}
.cart-number-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 2rem;
  height: 1.5rem;
  background-color: #df5d5d;
}
.cart-number {
  display: flex;
}

.cart-container:hover{
  background-color: #883131;
  border-color: #883131;
  transition: all 0.2s ease-out;
}

@media screen and (max-width:500px) {
  .cart-text {
    display: none;
  }
  .cart-container {
 width: 5.5rem;
 height: 3rem;
  }
  .cart-icon {
    size: 50%;
  }
}