.checkout-footer-container {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 255, 0.281); */
  height: 6.5rem;
}
.footer-text-cost-container {
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(255, 0, 0, 0.205); */
  flex: 1;
}
.footer-buttons-container {
  display: flex;
  justify-content: flex-end;
  /* background-color: rgba(60, 255, 0, 0.212); */
  flex: 1;
}
.footer-text {
  font-weight: bold;
  padding: 3px 3px 3px 0;
  font-size: 1.35rem;
  margin: 0 1rem 0.8rem 0;
}

.footer-button {
  width: 5.5rem;
  height: 3rem;
  margin: 0 1rem;
  border: solid;
  border-width: 1px;
  border-color: #e84545;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
  border-radius: 18px;
  color: #e84545;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.2s ease-out;
}
.footer-button.order-checkout {
  background-color: #e84545;
  color: white;
  width: 5.7rem;
  font-weight: 500;
}

.footer-button:hover {
  background-color: #883131;
  border-color: #883131;
  transition: all 0.2s ease-out;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
