.ol-container_clickable {
  display: flex;
  position: fixed;
  background-color: rgba(34, 34, 34, 0.514);
  width: 100%;
  height: 100%;
  z-index: 21;
}
.ol-container_outer {
  display: flex;
  position: fixed;

  justify-content: center;
  color: black;
  width: 100%;
  z-index: 22;
}
.ol-container {
  display: flex;
  flex-direction: column;
  top: 15rem;
  background-color: #f5f5f5;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.603);
  width: 38rem;
  /* max-width: 38rem; */
  padding: 1rem 1.5rem;
  margin: 8rem 35px;
  border-radius: 15px;
  z-index: 23;
}
