.foodlist-container_outer {
  display: flex;
  justify-content: center;
  color: black;
  position: relative;
  bottom: 6rem;
  margin: 0 70px;
}
.foodlist-container {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.603);
  width: 100%;
  max-width: 60rem;
  min-width: 20rem;
  padding: 1rem 1.5rem;
  /* margin: 0 35px; */
  border-radius: 15px;
}
.foodlist-sign-meat {
  z-index: -1;
  background-color: #e84545;
  color: white;
  width: 8rem;
  position: relative;
  left: 30px;
  top: 15px;
  padding: 0.6rem 1.5rem 1.4rem;
  margin: 0 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.603);
}
.foodlist-sign-veg {
  z-index: -1;
  background-color: #3ea847;
  color: white;
  width: 8rem;
  position: relative;
  left: 30px;
  top: 15px;
  padding: 0.6rem 1.5rem 1.4rem;
  margin: 0 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.603);
}
.loading {
  margin: 50px auto;
  border: solid 8px #fefefe;
  border-top: solid 8px #e84545;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: loading 0.7s infinite linear;
}
.foodlist-error {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 6rem;
  margin: 0 70px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
