.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #e84545;
  height: 5rem;
  padding: 1rem 5%;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.205);
}
.header-logo {
  /* background-color: rgba(0, 0, 255, 0.205); */
  display: flex;
  justify-content: left;

  padding-right: 0.5rem;
}

.header-nav {
  /* background-color: rgba(51, 255, 0, 0.144); */
  text-decoration: none;
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
}
.header-navlinks {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* padding-top: 2rem; */
  /* height: 17rem; */
}
.header-navlink {
  padding-right: 1rem;
  transition: all 0.2s ease-out;
}

.burger {
  display: none;
}
.burger div {
  background-color: rgb(255, 255, 255);
  height: 2px;
  width: 30px;
  margin: 7px;
}
.greyed-out {
  color: rgb(255, 134, 134);
  cursor: pointer;
}

.header-logo:hover {
  cursor: pointer;
}
.header-navlink:hover {
  cursor: pointer;
  color: rgb(223, 223, 223);
  transition: all 0.2s ease-out;
}
.header-cart:hover {
  cursor: pointer;
}
.burger:hover {
  cursor: pointer;
}

@media screen and (max-width: 848px) {
  .burger {
    display: block;
  }
  .header-container {
    justify-content: flex-start;
  }
  .header-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    padding: 0 0;
    left: 0px;
    top: 5rem;
    height: 100vh;
    background-color: #e84545;
    transform: translateX(-100%);
    /* transition: 0.2s ease-out; */
  }
  .header-cart {
    position: absolute;
    right: 3%;
  }
  .header-logo {
    margin-left: 15px;
  }
  .header-navlinks {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .header-navlink {
    margin: 4rem 0;
  }
  .nav-active {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    padding: 0 0;
    left: 0px;
    top: 5rem;
    height: 100vh;
    background-color: #e84545;
    transform: translateX(0%);
    transition: 0.2s ease-out;
  }
  .header-navlinks {
    padding-top: 2rem;
    height: 17rem;
  }
}
@media screen and (max-width: 500px) {
  .header-logo {
    font-size: 14px;
  }
}
